@import "tailwindcss";
body {
  background: linear-gradient(to top, #3b82f6, #ec4899);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
  background-attachment: fixed;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
select {
  outline: none;
}

select:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

option {
  border-radius: 50px;
}

/* ===== Scrollbar Styling ===== */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: #0a0a0f; /* dark black */
}

/* handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a855f7, #6d28d9);
  border-radius: 999px;
  border: 2px solid #0a0a0f;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #c084fc, #7c3aed);
}

button {
  cursor: pointer !important;
}